@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$shopping-mobile: 400px; 
$shopping-desktop: 900px;
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);  //(with 75% opacity for lightbox background)
$shopping-font: 'Kumbh Sans', sans-serif;


.shopping-nav {
  margin-right: 9em;
  margin-left: 9em;
  border-bottom: 2px solid $light-gray-blue;
  @media only screen and (max-width: $shopping-desktop) {
    border-bottom: 1px red solid;
    margin-right: 0;
    margin-left: 0;
  }
  .shopping-nav-toggle {
    border: none;
  }
  .shopping-logo {
    @media only screen and (max-width: $shopping-desktop) {
      padding-bottom: 0.4em;
    }
  }
}

.header-link {
  font-family: $shopping-font;
  font-weight: 600;
  color: $dark-gray-blue;
  margin-right: 2em;
  border-bottom: 3px solid transparent;
  &:hover, &:focus, &:active {
    border-bottom: 3px solid $orange;
    color: $black;
  }
}

.avatar-holder {
  position: relative;
  width: 40%;
  &::after {
    content: '';
    position: absolute;
    border-radius: 50px;
    width: 3.2em;
    height: 3.2em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 0 #ff7d1a; 
  }
  &:hover::after {
    box-shadow: inset 0 0 0 2px #ff7d1a; 
  } 
  @media only screen and (max-width: $shopping-desktop) {
    width: 18%;
  }
  .avatar {
    object-fit: cover;
    width: 100%;
  }
}

.cart {
  position: relative;
  top: 0.5em;
  @media only screen and (max-width: $shopping-desktop) {
    top: 1.1em;
    right: -3.2em;
  }
  .cart-amount-holder {
    display: none;
    position: absolute;
    top: -0.2em;
    left: 0.5em;
    z-index: 2;
    width: 2em;
    height: 1.3em;
    color: $white;
    font-weight: 600;
    font-size: 0.75em;
    font-family: $shopping-font;
    background-color: $orange;
    border-radius: 45%;
  }
  .svg-cart:hover{
    fill: #000000;
  }
}

.offcanvas.shopping {
  width: 66%;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2); 
  .offcanvas-link {
    font-family: $shopping-font;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 0.5em;
    color: $black;
  }
}
.offcanvas-backdrop.show, .modal-backdrop.show {
  opacity: 0.7;
}

.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(230, 230, 230, 0.9), 
        -10px 4px 10px rgba(230, 230, 230, 0.9), 10px 8px 15px rgba(230, 230, 230, 0.9);
  border: none;
  width: 20em;
  text-align: center;
  transform: translate(-45%, 0);
  .checkout-button {
    background-color: $orange;
    font-family: $shopping-font;
    font-weight: 600;
    color: $white;
  }
}

.main-image-row {
  @media only screen and (min-width: $shopping-desktop) {
    margin-top: 5em;
  }
}
.main-image-div {
  .main-image {
    @media only screen and (min-width: $shopping-desktop) {
      border-radius: 15px;
    }
    @media only screen and (max-width: $shopping-desktop) {
      width: 100%;
      height: 19em;
      object-fit: cover;
    }
  }
}

.thumbnail-row {
  margin-top: 2em;
  margin-bottom: 8em;
}

.thumbnail-shoe-div {
  width: 15%;
  border-radius: 13px;
  border: 2px solid transparent;
  .thumbnail-shoe {
    width: 100%;
    border-radius: 10px;
    &:hover, &:focus, &:active {
      opacity: 0.3;
    }
  }
}

.information-row {
  @media only screen and (min-width: $shopping-desktop) {
  margin-top: 10em;
  }
  margin-top: 1.5em;
  .title {
    font-family: $shopping-font;
    color: $orange;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.2em;
  }
  .shoe-name {
    margin-top: 0.4em;
    font-family: $shopping-font;
    color: $black;
    font-size: 2.5em;
    font-weight: 700;
  }
  .description {
    margin-top: 2.5em;
    font-family: $shopping-font;
    color: $dark-gray-blue;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.8em;
  }
}

.current-price {
  font-family: $shopping-font;
  color: $black;
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.sale-tag {
  background-color: $pale-orange;
  color: $orange;
  font-family: $shopping-font;
  font-size: 1em;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 0;
}

.previous-price {
  font-family: $shopping-font;
  color: $gray-blue;
  font-size: 0.9em;
  text-decoration: line-through;
  font-weight: 700;
}

.minus {
  background-color: $light-gray-blue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  .minus-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  &:active {
    .minus-sign {
      opacity: 0.5;
    }
  }
  .minus-sign {

  }
}

.plus {
  background-color: $light-gray-blue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  .plus-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  &:active {
    .plus-sign {
      opacity: 0.5;
    }
  }
  .plus-sign {

  }
}


.amount {
  width: 2.1em;
  background-color: $light-gray-blue;
  .number-box {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .number-holder {
    padding: 0; 
    margin: 0;
    font-family: $shopping-font;
    font-weight: 800;
  }  
}

.add-cart-button {
  background-color: $orange;
  font-family: $shopping-font;
  font-weight: 600;
  color: $white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 10px;
  &:hover {
    color: $white;
  }
  &:active {
    opacity: 0.5;
    color: $white;
  } 
}

.add-cart-div {
  @media only screen and (max-width: $shopping-desktop) {
  margin-bottom: 6em;
  }
.add-cart-button {
  box-shadow: 0 30px 50px -20px $orange;
}
}

.main-image-button {
  padding: 0;
}



.modal-content {
  background-color: transparent;
  border: none;
  .modal-image {
    border-radius: 15px;
  }
  .modal-thumbnail-row {
    margin-top: 2em;
  }
}

.carousel-control-next {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  background-color: $white;
  opacity: 1;
  border-radius: 50px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-control-prev {
  &:hover, &:focus, &:active {
    opacity: 1;
    .svg-on-hover {
      stroke: $orange;
    }
  }
  @media only screen and (min-width: $shopping-desktop) {
    position: absolute;
    background-color: $white;
    opacity: 1;
    border-radius: 50px;
    top: 43%;
    height: 3.2em;
    width: 3.2em;
    -ms-transform: translateX(-55%);
    transform: translateX(-55%);
  }
  @media only screen and (max-width: $shopping-desktop) {
    position: absolute;
    background-color: $white;
    border-radius: 50px;
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.carousel-control-next {
  &:hover, &:focus, &:active {
    opacity: 1;
    .svg-on-hover {
      stroke: $orange;
    }
  }
  @media only screen and (min-width: $shopping-desktop) {
    position: absolute;
    background-color: $white;
    opacity: 1;
    border-radius: 50px;
    top: 43%;
    height: 3.2em;
    width: 3.2em;
  -ms-transform: translateX(45%);
  transform: translateX(45%);
}
@media only screen and (max-width: $shopping-desktop) {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
}
.modal-thumbnail-div {
  width: 20%;
  border-radius: 13px;
  background-color: white;
  .modal-thumbnail {
  width: 100%;
  border-radius: 10px;
    &:hover, &:focus, &:active {
      opacity: 0.3;
    }
  }
}

.next-svg, .prev-svg {
  overflow: visible;
}


// .svg-cart:hover{
//   fill: #000000;
// }

.next-svg {
  margin-left: 0.8em;
}